<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "BlogApp" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-between mt-2 ">
      <li class="font-extrabold hover:underline">
      <.link href={~p"/"}>Home</.link>
      </li>
      <div class="flex gap-4 items-center justify-end">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900 hover:underline">
          <.link href={~p"/users/profile/#{@current_user}"}>
            <%= @current_user.email %>
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700 hover:underline"
          >
            Log out
          </.link>
        </li>
        <li>
        <.link href={~p"/articles/new"}
        class="bg-gray-200 rounded-lg px-8 py-2 hover:bg-gray-400 font-semibold block hover:underline">
        Post
        </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700 hover:underline"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700 hover:underline"
          >
            Log in
          </.link>
        </li>
      <% end %>
      </div>
    </ul>
    <%= @inner_content %>
  </body>
</html>
